@import url('https://fonts.googleapis.com/css2?family=Kings&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Lugrasimo&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page#page1 {
  background-image: url("Images/ferenc-horvath-skcFiBu91AA-unsplash.jpg");
  background-size: cover;
}

.page.page2 {
  background-image: url("Images/annie-spratt-lRcoPGrwkv0-unsplash.jpg");
  background-size: cover;
}

p{
    text-align: center;
    font-family: "Bitter";
    font-size: 25px;
}

h3{
font-family: "Lugrasimo";
}

.card {
    margin-top: 20px;
    margin-left: 200px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 12px rgba(6, 7, 59, 0.726);
    padding: 10px;
    margin-bottom: 50px;
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px auto;
  }
  
  .card:hover {
    box-shadow: 10px 10px 5px 12px rgba(44, 4, 44, 0.733);
  }

.card-title h3 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    font-family: 'Kaushan Script', cursive;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-card {
  box-shadow: 0 4px 8px 0 rgb(42, 13, 97);
  width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background: #f8f8f8;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
}

.card-container {
  text-align: center;
}

.price {
  color: rgb(9, 255, 1);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(77, 25, 173);
  background-color: #2c2380;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.cap-card {
  box-shadow: 0 4px 8px 0 rgba(42, 13, 97, 0.2);
  max-width: 540px;
  margin-left: 50px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-img-bottom {
  width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 35px;
  font-weight: bold;
  color: antiquewhite;
}

.card-text {
  font-size: 25px;
  color:antiquewhite;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

